@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Shadows+Into+Light+Two&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.calligraphy {
    font-family: 'Shadows Into Light Two', cursive;
}

.skills ul li {
    padding: 5px 0;
    margin-left: 15px;
}

.skills ul li .icon {
    font-size: 25px;
    margin-right: 15px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}
